.h70{
	height: 60px;
}
.h900{
	height: 900px;
}
.h35{
	height: 35px;
}
.h400{
	height: 650px;
}
.h100{
	height: 100px;
}
.h150{
	height: 120px;
}
.fs{
	font-size: 14px;
}
.h950{
	height: 970px;
}